---
title: Ändringar lektion 4
date: "2023-01-19"
---

**Jag har finslipat spelat och jag är realtivt nöjd med resultatet. Om jag skulle kunna ändra något hade jag lagt till sound och kanske animations. Men, detta kan jag göra i framtiden ;)**
